<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1475</integer>
	<key>capHeight</key>
	<integer>1438</integer>
	<key>copyright</key>
	<string>vernon adams (c) 2012</string>
	<key>descender</key>
	<integer>-299</integer>
	<key>familyName</key>
	<string>BenchTwelve</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>macintoshFONDName</key>
	<string>Twelve1</string>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2012/07/13 13:01:53</string>
	<key>openTypeHheaAscender</key>
	<integer>1536</integer>
	<key>openTypeHheaDescender</key>
	<integer>-512</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameCompatibleFullName</key>
	<string>BenchTwelve</string>
	<key>openTypeNameDesigner</key>
	<string>vernon adams</string>
	<key>openTypeNameDesignerURL</key>
	<string>newtypography.co.uk</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>BenchTwelve</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeNameVersion</key>
	<string>Version </string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>512</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>102</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>1434</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>287</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>1331</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<real>1434</real>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>977</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>1331</integer>
	<key>openTypeOS2VendorID</key>
	<string>newt</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>0</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>0</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625000208616257</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>BenchTwelve-Regular</string>
	<key>postscriptFullName</key>
	<string>BenchTwelve Regular</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptWeightName</key>
	<string>Regular</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>1006</integer>
</dict>
</plist>
