<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A_Left</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-69</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-219</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-58</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-204</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-240</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-272</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-7</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-19</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-8</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-122</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-120</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-152</integer>
		<key>j</key>
		<integer>-133</integer>
		<key>quotedblright</key>
		<integer>-209</integer>
		<key>quoteright</key>
		<integer>-167</integer>
	</dict>
	<key>@MMK_L_B_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-62</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-25</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-12</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-28</integer>
	</dict>
	<key>@MMK_L_O_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-74</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-86</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-77</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-72</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-92</integer>
		<key>X</key>
		<integer>-66</integer>
	</dict>
	<key>@MMK_L_P_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-200</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-65</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-62</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-83</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-38</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-354</integer>
		<key>comma</key>
		<integer>-206</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-162</integer>
		<key>s</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_R_Left</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-7</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-51</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-41</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-50</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-47</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-7</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-5</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-18</integer>
		<key>j</key>
		<integer>-109</integer>
	</dict>
	<key>@MMK_L_S_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-9</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-5</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-16</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-31</integer>
	</dict>
	<key>@MMK_L_T_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-181</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-83</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-153</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-182</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-95</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-125</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-115</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-97</integer>
		<key>comma</key>
		<integer>-72</integer>
		<key>g</key>
		<integer>-173</integer>
		<key>hyphen</key>
		<integer>-72</integer>
		<key>s</key>
		<integer>-112</integer>
		<key>x</key>
		<integer>-59</integer>
	</dict>
	<key>@MMK_L_U_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-24</integer>
		<key>J</key>
		<integer>-84</integer>
	</dict>
	<key>@MMK_L_V_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-232</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-85</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-117</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-111</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-61</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-62</integer>
		<key>J</key>
		<integer>-196</integer>
		<key>comma</key>
		<integer>-198</integer>
		<key>g</key>
		<integer>-36</integer>
		<key>hyphen</key>
		<integer>-72</integer>
		<key>j</key>
		<integer>-128</integer>
		<key>period</key>
		<integer>-147</integer>
		<key>s</key>
		<integer>-78</integer>
	</dict>
	<key>@MMK_L_W_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-187</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-94</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-119</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-73</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-44</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-53</integer>
		<key>comma</key>
		<integer>-180</integer>
		<key>g</key>
		<integer>-62</integer>
		<key>hyphen</key>
		<integer>-83</integer>
		<key>i</key>
		<integer>-34</integer>
		<key>j</key>
		<integer>-215</integer>
		<key>period</key>
		<integer>-125</integer>
		<key>s</key>
		<integer>-111</integer>
		<key>semicolon</key>
		<integer>-28</integer>
		<key>x</key>
		<integer>-96</integer>
	</dict>
	<key>@MMK_L_Y_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-190</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-76</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-132</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-161</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-41</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-78</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-94</integer>
		<key>comma</key>
		<integer>-238</integer>
		<key>g</key>
		<integer>-103</integer>
		<key>hyphen</key>
		<integer>-66</integer>
		<key>period</key>
		<integer>-124</integer>
		<key>s</key>
		<integer>-64</integer>
		<key>x</key>
		<integer>-52</integer>
	</dict>
	<key>@MMK_L_k_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-99</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-73</integer>
		<key>g</key>
		<integer>-48</integer>
	</dict>
	<key>@MMK_L_n_Left</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-35</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_o_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-28</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-82</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-80</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-68</integer>
		<key>g</key>
		<integer>-7</integer>
		<key>x</key>
		<integer>-82</integer>
	</dict>
	<key>@MMK_L_r_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-59</integer>
		<key>@MMK_R_n_Right</key>
		<integer>-19</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-82</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-21</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-48</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-57</integer>
		<key>comma</key>
		<integer>-109</integer>
		<key>g</key>
		<integer>-34</integer>
		<key>period</key>
		<integer>-47</integer>
		<key>s</key>
		<integer>-73</integer>
		<key>t</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_t_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-31</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-74</integer>
		<key>g</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_v_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-59</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-45</integer>
		<key>comma</key>
		<integer>-105</integer>
		<key>period</key>
		<integer>-112</integer>
	</dict>
	<key>@MMK_L_w_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-53</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-68</integer>
		<key>comma</key>
		<integer>-45</integer>
		<key>period</key>
		<integer>-27</integer>
	</dict>
	<key>@MMK_L_y_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-71</integer>
		<key>@MMK_R_n_Right</key>
		<integer>-34</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-87</integer>
		<key>period</key>
		<integer>-114</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-65</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-57</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-38</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-66</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-237</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-110</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-94</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-50</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-75</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-100</integer>
		<key>comma</key>
		<integer>-271</integer>
		<key>g</key>
		<integer>-52</integer>
		<key>period</key>
		<integer>-251</integer>
		<key>s</key>
		<integer>-90</integer>
		<key>z</key>
		<integer>-19</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>@MMK_R_U_Right</key>
		<integer>-8</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-50</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-35</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-72</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-67</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-149</integer>
		<key>@MMK_R_S_Right</key>
		<integer>-79</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-88</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-63</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-113</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-74</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-59</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-88</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-102</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-106</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-142</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-108</integer>
		<key>X</key>
		<integer>-21</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-30</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-137</integer>
		<key>@MMK_R_S_Right</key>
		<integer>-53</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-373</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-94</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-265</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-267</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-298</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-127</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-162</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-140</integer>
		<key>j</key>
		<integer>-142</integer>
		<key>quotedblright</key>
		<integer>-246</integer>
		<key>quoteright</key>
		<integer>-230</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-17</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-22</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-18</integer>
		<key>j</key>
		<integer>-72</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-20</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-41</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>@MMK_R_y_Left</key>
		<integer>-14</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-40</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-14</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-64</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-74</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-72</integer>
		<key>x</key>
		<integer>-65</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-127</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-120</integer>
		<key>comma</key>
		<integer>-138</integer>
		<key>f</key>
		<integer>-198</integer>
		<key>i</key>
		<integer>-58</integer>
		<key>l</key>
		<integer>-33</integer>
		<key>period</key>
		<integer>-163</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-49</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-69</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-94</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>@MMK_R_w_Left</key>
		<integer>-70</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-50</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-74</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-12</integer>
	</dict>
</dict>
</plist>
