<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A_Left</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-57</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-218</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-59</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-268</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-172</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-242</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-5</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-31</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-13</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-88</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-102</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-131</integer>
		<key>j</key>
		<integer>-177</integer>
		<key>quotedblright</key>
		<integer>-228</integer>
		<key>quoteright</key>
		<integer>-161</integer>
	</dict>
	<key>@MMK_L_B_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-95</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-48</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-13</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-54</integer>
	</dict>
	<key>@MMK_L_O_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-81</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-97</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-78</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-88</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-108</integer>
		<key>X</key>
		<integer>-81</integer>
	</dict>
	<key>@MMK_L_P_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-245</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-62</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-82</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-97</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-84</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-89</integer>
		<key>J</key>
		<integer>-226</integer>
		<key>comma</key>
		<integer>-300</integer>
		<key>g</key>
		<integer>-21</integer>
		<key>period</key>
		<integer>-213</integer>
		<key>s</key>
		<integer>-38</integer>
	</dict>
	<key>@MMK_L_R_Left</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-12</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-69</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-64</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-79</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-54</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-4</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-136</integer>
	</dict>
	<key>@MMK_L_S_Left</key>
	<dict>
		<key>@MMK_R_w_Left</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_T_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-225</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-68</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-110</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-145</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-21</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-90</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-74</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-104</integer>
		<key>comma</key>
		<integer>-189</integer>
		<key>g</key>
		<integer>-111</integer>
		<key>s</key>
		<integer>-138</integer>
		<key>z</key>
		<integer>-97</integer>
	</dict>
	<key>@MMK_L_U_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-69</integer>
		<key>J</key>
		<integer>-96</integer>
	</dict>
	<key>@MMK_L_V_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-210</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-88</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-112</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-160</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-44</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-51</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-36</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-69</integer>
		<key>J</key>
		<integer>-172</integer>
		<key>comma</key>
		<integer>-264</integer>
		<key>g</key>
		<integer>-58</integer>
		<key>hyphen</key>
		<integer>-98</integer>
		<key>j</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-174</integer>
		<key>s</key>
		<integer>-75</integer>
		<key>z</key>
		<integer>-42</integer>
	</dict>
	<key>@MMK_L_W_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-244</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-96</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-135</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-142</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-38</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-59</integer>
		<key>comma</key>
		<integer>-171</integer>
		<key>g</key>
		<integer>-124</integer>
		<key>hyphen</key>
		<integer>-45</integer>
		<key>i</key>
		<integer>-18</integer>
		<key>j</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-36</integer>
		<key>s</key>
		<integer>-96</integer>
		<key>semicolon</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-30</integer>
		<key>z</key>
		<integer>-56</integer>
	</dict>
	<key>@MMK_L_Y_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-247</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-113</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-119</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-160</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-57</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-1</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-43</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-26</integer>
		<key>comma</key>
		<integer>-172</integer>
		<key>g</key>
		<integer>-162</integer>
		<key>hyphen</key>
		<integer>-106</integer>
		<key>period</key>
		<integer>-68</integer>
		<key>s</key>
		<integer>-74</integer>
		<key>x</key>
		<integer>-28</integer>
	</dict>
	<key>@MMK_L_k_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-83</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-75</integer>
		<key>g</key>
		<integer>-53</integer>
	</dict>
	<key>@MMK_L_n_Left</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-49</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-63</integer>
	</dict>
	<key>@MMK_L_o_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-15</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-110</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-51</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-72</integer>
		<key>g</key>
		<integer>-14</integer>
		<key>x</key>
		<integer>-97</integer>
	</dict>
	<key>@MMK_L_r_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-43</integer>
		<key>@MMK_R_n_Right</key>
		<integer>-10</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-77</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-12</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-21</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-22</integer>
		<key>comma</key>
		<integer>-123</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-131</integer>
		<key>s</key>
		<integer>-35</integer>
		<key>t</key>
		<integer>-19</integer>
	</dict>
	<key>@MMK_L_t_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-27</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-3</integer>
	</dict>
	<key>@MMK_L_v_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-32</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-53</integer>
		<key>comma</key>
		<integer>-45</integer>
		<key>period</key>
		<integer>-36</integer>
	</dict>
	<key>@MMK_L_w_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-39</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-47</integer>
	</dict>
	<key>@MMK_L_y_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-70</integer>
		<key>@MMK_R_n_Right</key>
		<integer>-19</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-47</integer>
		<key>comma</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-28</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-62</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-62</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-34</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-60</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-18</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-240</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-78</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-89</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-21</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-27</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-44</integer>
		<key>comma</key>
		<integer>-231</integer>
		<key>g</key>
		<integer>-33</integer>
		<key>period</key>
		<integer>-223</integer>
		<key>s</key>
		<integer>-75</integer>
		<key>z</key>
		<integer>-28</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-8</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-39</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-21</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-43</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-29</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-6</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-52</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-135</integer>
		<key>@MMK_R_S_Right</key>
		<integer>-44</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-62</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-80</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-74</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-82</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-40</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-75</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-82</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-107</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-70</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-107</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-35</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-96</integer>
		<key>@MMK_R_S_Right</key>
		<integer>-53</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-257</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-98</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-252</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-197</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-333</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-122</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-83</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-149</integer>
		<key>j</key>
		<integer>-151</integer>
		<key>quotedblright</key>
		<integer>-342</integer>
		<key>quoteright</key>
		<integer>-258</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-30</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-22</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-44</integer>
		<key>j</key>
		<integer>-139</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-11</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-35</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>@MMK_R_y_Left</key>
		<integer>-31</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-34</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-12</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-81</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-52</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-55</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-86</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-115</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-76</integer>
		<key>comma</key>
		<integer>-75</integer>
		<key>f</key>
		<integer>-108</integer>
		<key>i</key>
		<integer>-32</integer>
		<key>l</key>
		<integer>-18</integer>
		<key>period</key>
		<integer>-57</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-90</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-71</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-115</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>@MMK_R_w_Left</key>
		<integer>-39</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-27</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-67</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-7</integer>
	</dict>
</dict>
</plist>
