<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>F</key>
	<dict>
	    <key>z</key>
	    <integer>-28</integer>
	    <key>s</key>
	    <integer>-75</integer>
	    <key>period</key>
	    <integer>-223</integer>
	    <key>g</key>
	    <integer>-33</integer>
	    <key>comma</key>
	    <integer>-231</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>quoteright</key>
	    <integer>-258</integer>
	    <key>quotedblright</key>
	    <integer>-342</integer>
	    <key>j</key>
	    <integer>-151</integer>
	</dict>
	<key>a</key>
	<dict>
	    <key>j</key>
	    <integer>-139</integer>
	</dict>
	<key>e</key>
	<dict>
	    <key>x</key>
	    <integer>-86</integer>
	    <key>g</key>
	    <integer>-15</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>period</key>
	    <integer>-57</integer>
	    <key>l</key>
	    <integer>-18</integer>
	    <key>i</key>
	    <integer>-32</integer>
	    <key>f</key>
	    <integer>-108</integer>
	    <key>comma</key>
	    <integer>-75</integer>
	</dict>
    </dict>
</plist>
